<div class="p-4">
    @for (row of formService.rows(); track row.id) {
    <div class="relative p-5 pt-2 ps-10 mb-4 bg-white rounded-lg border-2 border-dashed border-gray-200"
         cdkDropList
         [cdkDropListData]="row.id"
         [cdkDropListOrientation]="'mixed'"
         [style.view-transition-name]="'row-' + row.id"
         (cdkDropListDropped)="onDropInRow($event, row.id)">
        <div class="flex justify-between items-center">
            <span>Row</span>

            <button hlmBtn
                    size="icon"
                    variant="ghost"
                    class="size-8"
                    (click)="formService.deleteRow(row.id)">
                <ng-icon hlm
                         size="xs"
                         name="lucideTrash" />
            </button>
        </div>
        <div class="flex gap-4 flex-wrap">
            @for (field of row.fields; track field.id) {
            <app-form-field class="flex-1"
                            cdkDrag
                            [cdkDragData]="field"
                            [field]="field"
                            [style.view-transition-name]="'field-' + field.id"
                            [style.view-transition-class]="'field-transition'" />
            } @empty {
            <div
                 class="w-full p-4 border border-dashed border-primary-container rounded-lg text-sm text-center text-gray-300">
                Drag and drop form elements here
            </div>
            }
        </div>
        <div class="absolute left-1 flex gap-0 flex-col top-1/2 -translate-y-1/2">
            <button hlmBtn
                    size="icon"
                    variant="ghost"
                    class="size-8"
                    [disabled]="$first"
                    (click)="formService.moveRowUp(row.id)">
                <ng-icon hlm
                         size="xs"
                         name="lucideChevronUp" />
            </button>
            <button hlmBtn
                    size="icon"
                    variant="ghost"
                    class="size-8"
                    [disabled]="$last"
                    (click)="formService.moveRowDown(row.id)">
                <ng-icon hlm
                         size="xs"
                         name="lucideChevronDown" />
            </button>
        </div>
    </div>
    }
</div>