<div class="bg-white p-4 rounded-lg shadow-sm border border-gray-200 hover:border-black cursor-pointer"
     [class.border-black]="formService.selectedField()?.id === field().id"
     (click)="formService.setSelectedField(field().id)">
    <div class="flex items-center justify-between mb-1">
        <span class="text-sm">{{ field().type | titlecase }}</span>

        <button hlmBtn
                size="icon"
                variant="ghost"
                class="size-8"
                (click)="deleteField($event)">
            <ng-icon hlm
                     size="xs"
                     name="lucideTrash" />
        </button>
    </div>
    <app-field-preview [field]="field()" />
</div>